{% extends 'base.html' %}

{% block head %}
<title>Angélica</title>
{% endblock %}


{% block body %}
<style media="screen">


dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
dt{
  color: #ffffff;
  padding: 15px 25px
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
dl{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 40px;
}
a { background-color: #dbc8c8; color: #000000;
  padding: 5px; text-align: center; }
form{background-color: #dbc8c8; color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
</style>

<a href="/"><button class="btn"><i class="fa fa-home" href="/"></i></button></a>
<br>
<form>
 <input type="button" value="Back" onclick="history.back()">
</form>
<br><br><br>
<div id="container">
<img src="https://scontent-lis1-1.xx.fbcdn.net/v/t1.0-9/141729222_1363132617373714_7237264340984169451_n.jpg?_nc_cat=107&ccb=2&_nc_sid=730e14&_nc_ohc=uNE81d0LAUQAX9EBhBO&_nc_ht=scontent-lis1-1.xx&oh=dacfe4e9ab53d74291d41b45a65d7641&oe=60320E66" class="img-thumbnail" alt="profile" style="float:center">
<dl>
  <dt><b>Nome Completo</b></dt>
  <dd>Angélica Gonçalves Rodrigues</dd>
  <dt><b>Numero</b></dt>
  <dd>a83729</dd>
  <dt><b>Email</b></dt>
  <dd>a83729@alunos.uminho.pt</dd>
  <dt><b>Localidade</b></dt>
  <dd>Fátima</dd>
</dl>
</div>

{% endblock %}
