
{% extends 'base.html' %}

{% block head%}
<title>{{title}}</title>
{% endblock %}


{% block body%}
<style>
  h1 { text-align: center;}
  h2 { text-align: center;}
  h3 { text-align: center;}
  ul { list-style-type: none; text-align: center; font-size: 25px}
  a { background-color: #dbc8c8; color: #000000;
    padding: 5px; }
  form { text-align: center;}
  input[type=text]{width: 90%; height: 6em}
  input[type=text]:focus {
  border: 3px solid #555;}
  input[type=button]{background-color: #dbc8c8; color: #000000; text-align: center;}

</style>
<a href="/"><button class="btn"><i class="fa fa-home" href="/"></i></button></a>
<br>
<form>
 <input type="button" value="Back" onclick="history.back()">
</form>
<h1>Relatórios Disponiveis:</h1>
<br>
<ul>
    {% for p in relatorios: %}
        <li><a href="/relatorios/{{p}}">{{p}}</a></li>
    {% endfor %}
</ul>

<br><br>
<h1>Eliminar Relatorio:</h1>
<h3>Escreva o titulo do relatorio que pretende eliminar!</h3>
<form action="/relatorios/remove" method='post'>
    <label>Titulo</label><br>
    <input type="text" name="relatorio"><br>
    <input type="submit" value="Submit">
</form>
<br><br>


{% endblock %}
